.headerMain{
    height: 82px;
    top: 0;
    left: 0;
    right: 0;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
  background-color: white;
  padding-left: 200px;
  padding-right: 200px;
}
.headerLogo >a{
    display: flex;
    align-items: center;
}
.Logo{
    background-image: url("../imgs/Group 13 (1).png");
    width: 42.54px;
    height: 32px;
}
.Logo2{
    background-image: url("../imgs/Group 14.png");
    width: 143px;
    height: 15.49px;
    background-size: cover;
    margin: 0 auto; 
    margin-left: 12px;
}
.Telephone{
    font-family: 'Renault Life';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    font-variant: small-caps;
    align-items: center;
    color: #302420;
}
.Telephone >img{
    max-width: 16px;
    max-height: 16px;
    margin-right: 16px;
}
.list{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 11px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    list-style-type: none;
}

.list >li{
    display: inline-block;
    margin-right: 40px;
    line-height: 38px;
    color: #333333;
}
.list li a:hover, .list li a:active {
    border-bottom: 3px solid black;
}
.list >li >a{
    display: block;
    text-decoration: none;
    line-height: 2;
    color: #6c6c6c;
    border-bottom: 3px solid transparent;
}
/* @media (max-width: 1000px) {
    .list {
      display: none;
    }
    .header{
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
    }
    .Logo{
        width: 26.52px;
        height: 22px;
        background-size: cover;
        background-position: center;
    }
    .Logo2{
        width: 98px;
        height: 10.65px;
        background-size: cover;
        background-position: center;
        margin-left: 8px;
    }
    .Telephone{      
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        font-variant: small-caps;
    }
    .Telephone >img{
        width: 11.98px;
        height: 12.86px;
        background-size: cover;
        margin-right: 11px;
    }
  }
@media screen and (min-width: 1000px) and (max-width: 1400px ) {
    .header{
        padding-left: 16px;
        padding-right: 16px;
        height: 62px;
    }
} */
@media (min-width: 1200px) and (max-width: 1400px) {
    .header{
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
    }
    
    .headerMain{
        height: 64px;
      }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .list {
        display: none;
      }
      .headerMain{
        height: 64px;
      }
      .header{
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
    }
    .Logo{
        width: 26.52px;
        height: 22px;
        background-size: cover;
        background-position: center;
    }
    .Logo2{
        width: 98px;
        height: 10.65px;
        background-size: cover;
        background-position: center;
        margin-left: 8px;
    }
    .Telephone{      
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        font-variant: small-caps;
    }
    .Telephone >img{
        width: 11.98px;
        height: 12.86px;
        background-size: cover;
        margin-right: 11px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .list {
        display: none;
      }
      .headerMain{
        height: 56px;
      }
      .header{
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
    }
    .Logo{
        width: 26.52px;
        height: 22px;
        background-size: cover;
        background-position: center;
    }
    .Logo2{
        width: 98px;
        height: 10.65px;
        background-size: cover;
        background-position: center;
        margin-left: 8px;
    }
    .Telephone{      
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        font-variant: small-caps;
    }
    .Telephone >img{
        width: 11.98px;
        height: 12.86px;
        background-size: cover;
        margin-right: 11px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .list {
        display: none;
      }
      .headerMain{
        height: 56px;
      }
      .header{
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
    }
    .Logo{
        width: 26.52px;
        height: 22px;
        background-size: cover;
        background-position: center;
    }
    .Logo2{
        width: 98px;
        height: 10.65px;
        background-size: cover;
        background-position: center;
        margin-left: 8px;
    }
    .Telephone{      
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        font-variant: small-caps;
    }
    .Telephone >img{
        width: 11.98px;
        height: 12.86px;
        background-size: cover;
        margin-right: 11px;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .list {
        display: none;
      }
      .headerMain{
        height: 56px;
      }
      .header{
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
    }
    .Logo{
        width: 26.52px;
        height: 22px;
        background-size: cover;
        background-position: center;
    }
    .Logo2{
        width: 98px;
        height: 10.65px;
        background-size: cover;
        background-position: center;
        margin-left: 8px;
    }
    .Telephone{      
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        font-variant: small-caps;
    }
    .Telephone >img{
        width: 11.98px;
        height: 12.86px;
        background-size: cover;
        margin-right: 11px;
    }
}