@font-face { 
    font-family: "LeoHand";
    src: 
    url("../fonts/LeoHand/LeoHand.woff") format("woff"),
    url("../fonts/LeoHand/LeoHand.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: 'Renault Life';
    src:
    url("../fonts/Renault/RenaultLife-Bold.woff") format("woff"),
    url("../fonts/Renault/RenaultLife-Bold.ttf") format("truetype");
    font-style: normal;
}

.MainPhoto{
    background-image: url("../imgs/photo.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 846px;
}

.TextMain{
    font-family: 'Renault Life';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    color: #FFFFFF;
    padding-top: 100px; 
    padding-left: 300px; 
    line-height: 1.2;
}

.TextMain >p{
    margin: 0;
}

.TextMain >p >span{
    
    color: #DBA418;
    font-family: 'LeoHand';
    font-style: normal;
    font-weight: 200;
}
.Info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.InfoMain {
    display: flex;
    font-family: 'Renault Life';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    width: 639.6px;
    height: 280px;
    margin-top: 140px;
    margin-left: 300px;
    justify-content: start;
  }
  
  .Stick {
    width: 12px;
    height: 272px;
    background: #DBA418;
  }
  .InfoMain >p{
    margin-top: 0;
  }
.InfoPhoto{
    background-image: url("../imgs/photo 2.png");
    width: 861px;
    height: 500px;
    margin-top: 140px;
    right: 0px;
}

