
.header{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logo2{
    padding-bottom: 8px;
    padding-left: 13px;
}
.Telephone{
    font-family: 'Renault Life';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    font-variant: small-caps;
    align-items: center;
    color: #302420;
}
.Telephone >img{
    max-width: 16px;
    max-height: 16px;
    margin-right: 16px;
}
.list{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 11px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    list-style-type: none;
}

.list >li{
    display: inline-block;
    margin-right: 40px;
    line-height: 38px;
    color: #333333;
}
.list li a:hover, .list li a:active {
    border-bottom: 3px solid black;
}
.list >li >a{
    display: block;
    text-decoration: none;
    line-height: 2;
    color: #6c6c6c;
    border-bottom: 3px solid transparent;
}