.footer{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ccc;
    margin-top: 100px;
    top: 0;
    left: 0;
    right: 0;
}
.footer-up{
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 109px;
  background-color: white;
  padding-left: 300px;
  padding-right: 300px;
}
.footerLogo >a{
    display: flex;
    align-items: center;
}
.LogoFooter{
    background-image: url("../imgs/Group 13 (1).png");
    width: 42.54px;
    height: 32px;
}
.LogoFooter2{
    background-image: url("../imgs/Group 14.png");
    width: 143px;
    height: 15.49px;
    margin-left: 13px;
    background-size: cover;
    margin: 0 auto; 
    margin-left: 12px;
}
.Telephone-down{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #302420;
}
.Telephone-down >img{
    max-width: 16px;
    max-height: 16px;
    margin-right: 16px;
}
.list-up{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 11px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    list-style-type: none;
}

.list-up >li{
    display: inline-block;
    margin-right: 40px;
    line-height: 38px;
    color: #333333;
}
.list-up li a:hover, .list-up li a:active {
    border-top: 3px solid black;
}
.list-up >li >a{
    display: block;
    text-decoration: none;
    line-height: 2;
    color: #6c6c6c;
    border-top: 3px solid transparent;
}

.footer-down{
    display: flex;
    height: 60px;
    background: #F3F2F7;
    align-items: center;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
}
.footerRef{
    display: flex;
    align-items: center;
}
.Ref{
    background-image: url("../imgs/icon-instagram.png");
    width: 24px;
    height: 24px;  
}
.Ref2{
    background-image: url("../imgs/icon-avito.png");
    width: 70px;
    height: 20px; 
    margin-left: 28px;
}

.First{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;


    color: #9F9F9F;
}

.Second{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;


    color: #9F9F9F;
}
@media (min-width: 1200px) and (max-width: 1600px) {
    .footer-up{
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-down{
        padding-left: 64px;
        padding-right: 64px;
    }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .list {
        display: none;
      }
      .headerMain{
        height: 64px;
      }
      .header{
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
    }
    .Logo{
        width: 26.52px;
        height: 22px;
        background-size: cover;
        background-position: center;
    }
    .Logo2{
        width: 98px;
        height: 10.65px;
        background-size: cover;
        background-position: center;
        margin-left: 8px;
    }
    .Telephone{      
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        font-variant: small-caps;
    }
    .Telephone >img{
        width: 11.98px;
        height: 12.86px;
        background-size: cover;
        margin-right: 11px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .list {
        display: none;
      }
      .headerMain{
        height: 56px;
      }
      .header{
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
    }
    .Logo{
        width: 26.52px;
        height: 22px;
        background-size: cover;
        background-position: center;
    }
    .Logo2{
        width: 98px;
        height: 10.65px;
        background-size: cover;
        background-position: center;
        margin-left: 8px;
    }
    .Telephone{      
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        font-variant: small-caps;
    }
    .Telephone >img{
        width: 11.98px;
        height: 12.86px;
        background-size: cover;
        margin-right: 11px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .list-up{
        display: none;
      }
      .headerMain{
        height: 56px;
      }
      .header{
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
    }
    .Logo{
        width: 26.52px;
        height: 22px;
        background-size: cover;
        background-position: center;
    }
    .Logo2{
        width: 98px;
        height: 10.65px;
        background-size: cover;
        background-position: center;
        margin-left: 8px;
    }
    .Telephone{      
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        font-variant: small-caps;
    }
    .Telephone >img{
        width: 11.98px;
        height: 12.86px;
        background-size: cover;
        margin-right: 11px;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .list-up {
        display: none;
      }
      .footer-up{
        height: 56px;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
    }
    .footer-down{
        justify-content:baseline;
        height: auto;
        padding-left: 16px;
        padding-right: 16px;}
    .LogoFooter{
        width: 26.52px;
        height: 22px;
        background-size: cover;
        background-position: center;
    }
    .LogoFooter2{
        width: 98px;
        height: 10.65px;
        background-size: cover;
        background-position: center;
        margin-left: 8px;
    }
    .Telephone-down{      
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        font-variant: small-caps;
    }
    .Telephone-down >img{
        width: 11.98px;
        height: 12.86px;
        background-size: cover;
        margin-right: 11px;
    }
    .First, .Second {
        display: block;
      }
     
      
}